<div class="row center titulo"  (click)="opem = !opem">
    <div class="col-10"><p>PERSONAGEM</p></div>
    <div class="col-2 text-center">
        <p *ngIf="!opem"><i class="fa fa-angle-down"></i></p>
        <p *ngIf="opem"><i class="fa fa-angle-up"></i></p>
    </div>
</div>
<form class="example-form" *ngIf="opem">
    <div class="row center">
        <div class="col-6 espaco-input">
             <mat-form-field class="example-full-width">
                <input matInput placeholder="Personagem" [(ngModel)]="personagem.nome" name="nome">
            </mat-form-field>
        </div>
        <div class="col-3 espaco-input">
             <mat-form-field class="example-full-width">
                <input matInput placeholder="EXP" type="number" (change)="calcNivel(personagem.exp)" [(ngModel)]="personagem.exp" name="exp">
            </mat-form-field>
        </div>
        <div class="col-3 espaco-input">
             <mat-form-field class="example-full-width">
                <input *ngIf="personagem.nivel == null" matInput placeholder="Nivel" disabled name="nivel">
                <input *ngIf="personagem.nivel != null" matInput placeholder="Nivel" disabled [value]="personagem.nivel.level" name="nivel">
            </mat-form-field>
        </div>
    </div>

    <div class="row center">
        <div class="col-5 espaco-input">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Raças" [(ngModel)]="personagem.racas" name="raca" (change)="subRacaChange()">
                    <mat-option *ngFor="let raca of racas" [value]="raca">
                        {{ raca.nome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-7 espaco-input">
             <mat-form-field class="example-full-width">
                <mat-select placeholder="Sub-Raça" *ngIf="personagem.racas == null">
                    <mat-option>
                       Escolha a Raça
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Sub-Raça" *ngIf="personagem.racas != null" [(ngModel)]="personagem.subracas" name="subracas">
                    <mat-option *ngFor="let subraca of personagem.racas.subRacas" [value]="subraca">
                        {{ subraca.nome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row center">
        <div class="col-6 espaco-input">
            <mat-form-field class="example-full-width">
                <mat-select placeholder="Tendencia" [(ngModel)]="personagem.tendencia" name="tendencia">
                    <mat-option *ngFor="let tendencia of tendencias" [value]="tendencia.nome">
                        {{ tendencia.nome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-6 espaco-input">
             <mat-form-field class="example-full-width">
                <mat-select placeholder="Antecedente" [(ngModel)]="personagem.antecedente" name="antecedente">
                    <mat-option *ngFor="let antecedente of antecedentes" [value]="antecedente">
                        {{ antecedente.nome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>