.pericias{
    background-color: lightgrey;
    border: none;
}
.pericias>div>p{
    margin: 4px 0px;
    font-weight: 600;
    border: none;
}
.pericias>div>input[type="checkbox"]{
    margin: 10px 0px;
}
.exibirDetalhe{
    background-color: #eee;
    width: 100%;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    padding: 5px;
    margin-bottom: 10px;
}
.exibirDetalhe>p{
    margin: 0px;
}