<div class="row center titulo"  (click)="opem = !opem">
    <div class="col-10"><p>PERICIAS</p></div>
    <div class="col-2 text-center">
        <p *ngIf="!opem"><i class="fa fa-angle-down"></i></p>
        <p *ngIf="opem"><i class="fa fa-angle-up"></i></p>
    </div>
</div>

<div *ngIf="opem">
  <div class="pericias row center" *ngFor="let pericia of pericias">
      <div class="col-7 text-left" *ngIf="pericia.detalhe == null" (click)="exibirDetalhe = pericia.nome"> <p> {{pericia.nome}}</p> </div>
      <div class="col-7 text-left" *ngIf="exibirDetalhe != pericia.nome && pericia.detalhe != null" (click)="exibirDetalhe = pericia.nome"> <p><i class="fa fa-search-plus"></i> {{pericia.nome}}</p> </div>
      <div class="col-7 text-left" *ngIf="exibirDetalhe == pericia.nome && pericia.detalhe != null" (click)="exibirDetalhe = ''"> <p><i class="fa fa-search-minus"></i> {{pericia.nome}}</p> </div>
      <div class="col-2 text-center"> <p>{{pericia.atributo}}</p> </div>
      <div class="col-2 text-center no-padding"> <p>{{pericia.valor}}</p> </div>
      <div class="col-1 no-padding"> <input type="checkbox" [checked]="pericia.treinada" (click)="setPericiaTreinada(pericia)"> </div>
      <div class="col-12" *ngIf="exibirDetalhe == pericia.nome && pericia.detalhe != null">
        <div class="exibirDetalhe">
          <p>{{pericia.detalhe}}</p>
        </div>
      </div>
  </div>
</div>