.menu{
    background-color: blue;
    text-align: center;
    color: white;
}
.menu>div>p{
    margin: 7px 0px;
}
.atributos{
    background-color: lightgrey;
    text-align: center;
}
.atributos>div>p{
    width: 33%;
    font-weight: 700; font-size: 18px;
    margin: 0px 0px 10px 0px; float: left;
}
.atributos>div>h2{
    font-weight: 700; font-size: 20px;
    margin: 10px 0px 0px 0px;
}
.atributos>div>input{
    width: 33%;   margin: 0px 0px 10px 0px;
    float: left;  text-align: center;
    border: none; background-color: transparent;
    font-size: 18px;
}